---
import '../styles/footer.css';
---


<footer class="footer">
  <div class="footer-content">
    <div class="footer-column about">
      <a href="/" class="footer-logo">CABS</a>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
    </div>
    <div class="footer-column links">
      <h3>Company</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/contact">Delivery</a></li>
        <li><a href="/privacy">Privacy policy</a></li>
      </ul>
    </div>
    <div class="footer-column contact">
      <h3>Get in Touch</h3>
      <ul>
        <li>‪+1-212-456-7890‬</li>
        <li>greatstackdev@gmail.com</li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 CABS. All Right Reserved.</p>
  </div>
</footer>